extends layout
block content
    form(action='/submitHello', method='POST')
      label(for='name') Introduce tu nombre
      input#name(type='text', name='name', value='')
      input(type='submit', name='btn', value='Enviar')